// Abstracts
@import "abstracts/variables";

// Vendors
@import "vendors/bootstrap";

// Base

// Layout
@import "layout/header";
@import "layout/navigation";

// Components

// Pages

// Themes
@import "themes/theme";

nav {
    .navbar-brand { 
        font-family: 'Cinzel', serif;
        font-weight: bold;

    }

    .nav-item {
        font-family: 'Cinzel', serif;
    }
    ul li a i {
        margin-right: 10px;
    }
}